PORT=3030
HOST=0.0.0.0
NODE_ENV=development

BEARER_TOKEN=replace_me
FORGE_TOKEN=replace_me
STREAMERBOT_WS_URL=ws://127.0.0.1:8080
PISHOCK_API_URL=http://replace-me

ENABLE_DEBUG_LOGS=false
ENABLE_DEMO_ROUTES=false
